<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />	
</head>
<body class="loaded">

							
<!-- BEGIN BODY -->

<div class="main-wrapper">

<!-- BEGIN CONTENT -->

	<main class="content">		
		<div class="wrapper">
				
		</div>		
	</main>	
			
<!-- CONTENT EOF   -->

<!-- BEGIN HEADER -->

	<header class="header">		
		<div class="wrapper">
			<div class="header-top">
				<div class="logo">
					<a class="logo__link" href="#"><img class="logo__picture" src="img/logo.png" alt="BlagoyArt"></a>
					<span class="logo__tagline">Интернет-магазин «Благой арт»</span>
				</div>
			
				<form class="search" action="search.html" method="GET">
					<input class="search__input" type="text" name="search" placeholder="Введите название или артикул">
					<input type="submit" class="search__submit" value=""></input>
				</form>
				<div class="contacts">
					<div class="header__phone">
						+7 (800) 707-81-39
					</div>
					<div class="worktime">
						<p class="worktime__time">ПН-ПТ с 9:00 до 18:00</p>
						<a href="#" class="worktime__delivery">Доставка по РФ и СНГ</a>
					</div>
				</div>
				
			</div>
			<div class="header-bottom">
				<nav class="nav-top">
					<ul class="nav-top__list">
						<li class="nav-top__item">
						<input type="checkbox" name ="group-1" id="group-1" checked>
						<label class="nav-top__item--drop" for="group-1">КАТАЛОГ ТОВАРОВ</label>
							<ul class="menu-catalog__list">
								<li class="menu-catalog__item"><a class="menu-catalog__item--arrow-right" href="#">Свадебная бижутерия</a></li>
								<li class="menu-catalog__item"><a href="#">Аксессуары для волос</a></li>
								<li class="menu-catalog__item"><a href="#">Броши</a></li>
								<li class="menu-catalog__item"><a class="menu-catalog__item--arrow-right" href="#">Мужские аксессуары</a>
									<div class="menu-product">
										<ul class="menu-product__list">
											<li class="menu-product__item">МУЖСКАЯ БИЖУТЕРИЯ</li>
											<li class="menu-product__item"><a href="#">Браслеты</a></li>
											<li class="menu-product__item"><a href="#">Кулоны</a></li>
											<li class="menu-product__item"><a href="#">Зажимы и запонки</a></li>
										</ul>
									</div>
								</li>
								<li class="menu-catalog__item"><a href="">Клатчи</a></li>
								<li class="menu-catalog__item"><a href="">Детская бижутерия</a></li>
								<li class="menu-catalog__item"><a href="">Демонстрационное оборудование</a></li>
							</ul>
						</li>
						<li class="nav-top__item"><a href="#">УСЛОВИЯ РАБОТЫ</a></li>
						<li class="nav-top__item"><a href="#">СКИДКИ</a></li>
						<li class="nav-top__item"><a href="#">Оплата И ДОСТАВКА</a></li>
						<li class="nav-top__item"><a href="#">ДОКУМЕНТЫ</a></li>
						<li class="nav-top__item"><a href="#">КОНТАКТЫ</a></li>
					</ul>
				</nav>
				<div class="header-bottom__basket">
					<div class="basket">
						<span class="basket__number">10</span>
						ТОВАРОВ / 
						<span class="basket__prise"> 56 789 Р</span>
					</div>
					<div class="enter">
						<a class="enter__link" href="#">Войти</a>
					</div>
				</div>
			</div>
		</div>		
		<div class="slider">
			<div>
				<div class="slider__item">
					<img src="img/slide/slide1.jpg" class="slider__picture"></img>
					<div class="slider__caption">Новая коллекция SWAROVSKI уже здесь!</div>
				</div>
			</div>
			<div>
				<div class="slider__item">
					<img src="img/slide/slide1.jpg" class="slider__picture"></img>
					<div class="slider__caption">Новая коллекция SWAROVSKI уже там!</div>
				</div>
			</div>
			<div>
				<div class="slider__item">
					<img src="img/slide/slide1.jpg" class="slider__picture"></img>
					<div class="slider__caption">Новая коллекция SWAROVSKI уже везде!</div>
				</div>
			</div>
		</div>
	</header>
	
<!-- HEADER EOF   -->	

<!-- BEGIN FOOTER -->	
	
	<footer>
		<div class="wrapper">
			
		</div>	
	</footer>
	
<!-- FOOTER EOF   -->

</div>		

<!-- <div class="icon-load"></div> -->		

<!-- BODY EOF   -->
	
	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>		
	<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js" ></script>
	<script type="text/javascript" src="js/components/slick.js" ></script>
	<!--
	<script type="text/javascript" src="js/components/jquery.fancybox.js" ></script>
	<script type="text/javascript" src="js/components/jquery.formstyler.js" ></script>
	
	<script type="text/javascript" src="js/components/jquery.mCustomScrollbar.js" ></script>
	-->
	<script type="text/javascript" src="js/custom.js" ></script>
</body>
</html>
