<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />	
</head>
<body class="loaded">

							
<!-- BEGIN BODY -->

<div class="main-wrapper">

<!-- BEGIN CONTENT -->

	<main class="content">		
		<div class="wrapper">
				привет
		</div>		
	</main>	
			
<!-- CONTENT EOF   -->

<!-- BEGIN HEADER -->

	<header>		
		<div class="wrapper">
			<div class="header-top">
				<div class="header__logo">
					<a href="#"><img src="img/logo.png" alt="BlagoyArt"></a>
					<span class="header__tagline">Интернет-магазин «Благой арт»</span>
				</div>
			
				<form class="header__search" action="search.html" method="GET">
					<input type="text" name="search" placeholder="Введите название или артикул">
				</form>
				<div class="header__phone">
					+7 (800) 707-81-39
				</div>
				<div class="worktime">
					<p class="worktime__time">ПН-ПТ с 9:00 до 18:00</p>
					<a class="worktime__delivery">Доставка по РФ и СНГ</a>
				</div>
				
			</div>
			<div class="header-bottom">
				<nav class="nav-top">
					<ul class="nav-top__list">
						<li class="nav-top__item"><a href="#">КАТАЛОГ ТОВАРОВ</a></li>
						<li class="nav-top__item"><a href="#">УСЛОВИЯ РАБОТЫ</a></li>
						<li class="nav-top__item"><a href="#">СКИДКИ</a></li>
						<li class="nav-top__item"><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
						<li class="nav-top__item"><a href="#">ДОКУМЕНТЫ</a></li>
						<li class="nav-top__item"><a href="#">КОНТАКТЫ</a></li>
					</ul>
				</nav>
				<div class="basket">
					<div class="basket__munber">10</div>
					ТОВАРОВ / 
					<div class="basket__prise"> 56789 </div>
					p
				</div>
				<div class="enter">
					<a href="#">Войти</a>
				</div>
			</div>
		</div>		
		<div class="slider">
			<div class="slider__item">
				<img src="img/slide/slide1.jpg" class="slider__picture"></img>
				<div class="slide__caption">Новая коллекция SWAROVSKI уже здесь!</div>
			</div>
		</div>
	</header>
	
<!-- HEADER EOF   -->	

<!-- BEGIN FOOTER -->	
	
	<footer>
		<div class="wrapper">
			
		</div>	
	</footer>
	
<!-- FOOTER EOF   -->

</div>		

<!-- <div class="icon-load"></div> -->		

<!-- BODY EOF   -->
	
	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>		
	<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js" ></script>
	<script type="text/javascript" src="js/components/slick.js" ></script>
	<!--
	<script type="text/javascript" src="js/components/jquery.fancybox.js" ></script>
	<script type="text/javascript" src="js/components/jquery.formstyler.js" ></script>
	
	<script type="text/javascript" src="js/components/jquery.mCustomScrollbar.js" ></script>
	-->
	<script type="text/javascript" src="js/custom.js" ></script>
</body>
</html>
