
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	background:#fff;
	width:100%; 
	margin-top: 35px;
	min-width: $min-width;
	order: 1;	
    -webkit-order: 1;
    &-top {
    	display: flex;
    	justify-content: space-between;
    	margin-bottom: 15px;
    }
    &__phone {
    	@include font(23px, 1.4, #181616);
    	display: inline-block;
    	vertical-align: top;
    	margin-right: 10px;
    }
    &-bottom {
    	display: flex;
    	justify-content: space-between;
    	padding: 15px;
    	border-top: 1px solid #dddfdf;
    	border-bottom: 1px solid #dddfdf;
    	margin-bottom: 30px;
    	align-items: center;
    	margin-left: -15px;
    	margin-right: -15px;
    	&__basket {
    		width: 33%;
    		text-align: right;
    	}
    }
}


.logo {
	margin-right: 10px;
	&__link {
		display: block;
	}
	&__picture {
		max-width: 100%;
		margin-bottom: 5px;
	}
	&__tagline {
		display: block;
		font-size: 14px;
		font-family: "PTSans";
		color: #747688;
		text-align: left;
	}
}

.search {
	flex-grow: 1;
	//width: 494px;
	border: 1px solid #b9b8bd;
	border-radius: 4px;
	height: 38px;
	margin-left: 2.5%;
    margin-right: 7%;
	
	&__input {
		width: 94%;
		height: 36px;
		border: none;
		padding-left: 8px;
		margin-left: 2px;
	}

	&__submit {
		vertical-align: middle;
		@include sprite($search);
		background-color: #fff;
		padding: 0;
		border: none;
	}
}

.worktime {
	display: inline-block;
	&__time {
		color: #cb944c;
		padding: 0;
	}
	&__delivery {
		color: #2b3056;
	}
}

.basket {
	display: inline-block;
	margin-right: 20px;
	color: #252a54;
	font-family: $custom-font-family;
	text-transform: uppercase;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		@include sprite($basket);
	}

	&__number {
		background-color: #cb944c;
		border-radius: 50%;
		padding: 4px 5px;
		color: #fff;
		margin-right: 5px;
		
	}

	&__prise {
		font-size: 16px;
	}
}
.enter {
	display: inline-block;
	vertical-align: middle;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		@include sprite($enter);
	}
	&__link {
		text-transform: uppercase;
		font-size: 16px;
		font-family: $custom-font-family;
		color: #252a54;
	}
}


@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
